{% url 'homepage' as home %}
{% url 'about-page' as about %}
{% url 'contact-page' as contact %}
{% url 'products' as products %}
{% url 'login-page' as login %}
{% url 'register-page' as register %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Django e-commerce</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.get_full_path == home %}active{% endif %}">
        <a class="nav-link" href="{% url 'homepage' %}">Home</a>
      </li>
      <li class="nav-item {% if request.get_full_path == about %}active{% endif %}">
        <a class="nav-link" href="{% url 'about-page' %}">About</a>
      </li>
      <li class="nav-item {% if request.get_full_path == products %}active{% endif %}">
        <a class="nav-link" href="{% url 'products' %}">Products</a>
      </li>
      <li class="nav-item {% if request.get_full_path == contact %}active{% endif %}">
        <a class="nav-link" href="{% url 'contact-page' %}">Contact</a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">Logout ({{ request.user.username }})</a>
        </li>
      {% else %}
        <li class="nav-item {% if request.get_full_path == register %}active{% endif %}">
          <a class="nav-link" href="{% url 'register-page' %}">Register</a>
        </li>
        <li class="nav-item {% if request.get_full_path == login %}active{% endif %}">
          <a class="nav-link" href="{% url 'login-page' %}">Login</a>
        </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>